/* Global */

/* Make sure to include the below html and universal rule sets in order to create the coloured band effect */

html {
    box-sizing: border-box;    
} 

*, *:before, *:after {box-sizing: inherit;} 

body {
    background-color: #0f0f0f;
    margin: 0; 
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: cyan;
    text-decoration: none;
    border-bottom:2px dashed orchid; 
}

img {
    padding: 20px;
}

footer {
    background-color: rgb(61, 61, 61);
    padding: 20px
}

/* Sections */

/* This class creates the background image at the top pf the page */
.banner{
    background-image: url("../images/Putnam-FireflyBurnout.png");
    background-size: cover; 
    background-attachment: fixed; 
    height: 50vh;
    width: 100%;
}

/* These header classes are used to style the page title */
.header {
    width: 100%; 
    padding: 40px;
}

.header2 {
    width: 100%; 
    padding: 40px;
    margin-top: 35vh;
    float: bottom;
}

/* Below are the classes for the alternating bands of colour */

.text1 {
    width: 100%; 
    padding: 50px; 
    background-color: rgb(61, 61, 61);
}

.text2 {
    width: 100%; 
    padding: 50px; 
    background-color: #0f0f0f;
}

/* Typography */
.cite {
    font-size: 12px;
    margin: 10px 20px;
    color: lightpink;
}

a:hover{
    background-color: lightgoldenrodyellow;
    color: darkorchid;
}

/* Buttons */
.button{
    border: none;
    background-color:rgb(40, 40, 40);
    color:yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: orchid;
    color: cyan;
}
.button:active{
    filter: hue-rotate(240deg);
}

/* Menu bar */

/* Uncomment the rule for position in the header ruleset in order to make a sticky navigation bar */
header {
    /* position: sticky; */
    width: 100%;
    top: 0;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    border-bottom: none;
  }

  li a:hover {
    background-color: white;
    /* margin: 0; */
  }
