/* Global */

/* You are welcome to use code from this page in your site, but please modify and remix in order to make it your own! */

/* This style sheet is used on the pages for tutorial 8 and 9, so the classes in hear are called on both of these pages in different instances, I have linked the source code for tutorial nine on the page, but you can also use inspect page source to see how classes are used. */

/* Make sure to include the below html and universal rule sets in order to create the coloured band effect. More on what box-sizing means here: https://www.w3schools.com/css/css3_box-sizing.asp */

html {
    box-sizing: border-box;   
    overflow-x: hidden;
} 

*, *:before, *:after {box-sizing: inherit;} 

/* ---------- */


body {
    background-color: #0f0f0f;
    margin: 0; 
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

/* Custom designed hyperlinks */
a {
    color: cyan;
    text-decoration: none;
    border-bottom:2px dashed orchid; 
}


img {
    margin: 20px;
}

.img2 {
   padding: 5px;
}

footer {
    background-color: rgb(61, 61, 61);
    padding: 20px;
}

.footer-link {
    margin-top: 20px;
}

/* Sections */

/* This class creates the background image at the top of the page in  */
.banner{
    background-image: url("../images/Putnam-FireflyBurnout.png");
    background-size: cover; 
    background-attachment: fixed; 
    height: 50vh;
    width: 100%;
}

/* These title classes are used to style the page title. */
.title1 {
    width: 100%; 
    padding: 40px;
}

.title2 {
    width: 100%; 
    padding: 20px 40px 0px 40px ;
    margin-top: 40vh;
    float: bottom;
}

/* Below are the classes for the alternating bands of colour */

.text1 {
    width: 100%; 
    padding: 50px; 
    background-color: rgb(61, 61, 61);
}

.text2 {
    width: 100%; 
    padding: 50px; 
    background-color: #0f0f0f;
}

/* Typography: special cases */

.cite {
    font-size: 12px;
    margin: 10px 20px;
    color: lightpink;
}


a:hover{
    background-color: lightgoldenrodyellow;
    color: darkorchid;
}

/* Buttons */

/* The code for buttons below are used to create buttons on tutorial 8 (Intro to CSS) */
.button{
    border: none;
    background-color:rgb(40, 40, 40);
    color:yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: orchid;
    color: cyan;
}
.button:active{
    filter: hue-rotate(240deg);
}

/* Menu/Navigation bar */

/* Uncomment the rule for position in the header ruleset in order to make a sticky navigation bar */
header {
    /* position: sticky; */
    width: 100%;
    top: 0;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav-buttons {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    border-bottom: none;
  }

.nav-buttons:hover {
    background-color: white;
    /* margin: 0; */
  }

/* Flexbox */
.container {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: dashed 4px yellow;
  }

  .flex-item {
    flex: 1 1 200px;
    padding: 20px;
  }

/* Special styles to demo difference between margin and padding in tutorial 9 (page layout)*/

.margin-display {
    background-color: white;
    border: solid 2px red;
    margin: 20px;
    padding: 0;
    color: #222222;
    text-align: center;
}

.padding-display{
    background-color: white;
    border: solid 2px red;
    padding: 20px;
    margin: 0;
    color: #222222;
    text-align: center;
}

