html {box-sizing: border-box;       
    font-size: 16px;}
        *, *:before, *:after {box-sizing: inherit;}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;;
}
h2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
a {
    color: cyan;
    text-decoration: none;
    border-bottom:1px dotted orchid; 
}

img {
    padding: 20px;
}

/* Classes */
.cite {
    font-size: smaller;
    margin: -10px 10px 20px;
}

.banner{
    background-image: url("./images/Putnam-FireflyBurnout.png");
    background-size: cover; 
    background-attachment: fixed; 
    height: 50vh;
    width: 100%;
}

.header {width: 100%; 
    padding: 20px;}
    
.text1{
    width: 100%; 
    padding: 50px; 
    background-color: rgb(40, 40, 40);
}

.text2{
    width: 100%; 
    padding: 40px; 
    background-color: #0f0f0f;
}

a:hover{
    background-color: lightgoldenrodyellow;
    color: darkorchid;
}
