body {
    background-color: #0f0f0f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: magenta;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}
h2 {
    color: yellow;
}
a {
    color: orchid;
    border-bottom:1px dotted orchid;
    float:left; 
}
